@font-face {
  font-family: "Jersey10";
  src: url("/fonts/Jersey10-Regular.ttf") format("truetype");
}
body {
  color: #00ff00;
  font-family: Jersey10;
  background: url(/pattern.jpg);
  background-size: cover;
  filter: pixelate(10px);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 10px;
  opacity: 0.9;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
  padding: 10px;
}
.card {
  padding: 10px;
  font-size: 4rem;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 64px;
  height: 96px;
  cursor: pointer;
  background-color: #401d5e;
}
.card.faceup {
  animation: flipInY;
  animation-duration: 1s;
}
.card.facedown:hover {
  border-color: #fff;
}

.board:not(.disabled) .symbol:hover {
  border-color: #00ff00;
}
.button {
  border-radius: 50px;
  background-color: #00ff00;
  color: #111;
  margin-top: 10px;
  border-color: #06d606;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 20px;
}
.card.matched {
  animation: tada;
  animation-duration: 1s;
}
.countdown-wrapper {
  position: relative;
  margin-top: -14px;
}
.countdown-wrapper .timer {
  font-size: 3rem;
  position: absolute;
  color: #fff;
  top: 14px;
  left: 40px;
}

@media (max-width: 480px) {
  .wrapper {
    justify-content: flex-start;
  }
  .board {
    gap: 16px;
  }
  .card {
    width: 40px;
    height: 60px;
    font-size: 2.5rem;
  }
}
